{#- Inspired by https://github.com/saltstack-formulas/openssh-formula -#}
{%- set collapse_opts = [
      "DenyUsers", "AllowUsers", "DenyGroups", "AllowGroups", "KexAlgorithms",
      "Ciphers", "MACs", "PubkeyAcceptedAlgorithms", "PubkeyAcceptedKeyTypes", "CASignatureAlgorithms",
      "HostKeyAlgorithms"
    ]
-%}

{%- macro render_opt(name, val, collapse=false) %}
{%-   if val is sameas true -%}
{{ name }} yes
{%-   elif val is sameas false -%}
{{ name }} no
{%-   elif val is string or val is number -%}
{{ name }} {{ val }}
{%-   elif val | is_list -%}
{%-     if name in collapse_opts or collapse -%}
{{ name }} {{ val | join(",") }}
{%-     else -%}
{%-       for v in val %}
{%-         if loop.first %}
{{- render_opt(name, v) }}
{%-         else %}
{{ render_opt(name, v) }}
{%-         endif %}
{%-       endfor -%}
{%-     endif -%}
{%-   endif -%}
{%- endmacro -%}

# This file is managed by Salt.
# Manual changes might be overwritten.

{% for opt, val in openssh.client.config | dictsort %}
{%-   if opt in ["Host", "Match"] %}
{%-     continue %}
{%-   endif %}
{{ render_opt(opt, val) }}
{%- endfor %}

{%- for host, conf in openssh.client.config.get("Host", {}).items() %}
{%-   if host == "*" %}
{%-     continue %}
{%-   endif %}
Host {{ host }}
{%-   for opt, val in conf | dictsort %}
{{ "  " }}{{ render_opt(opt, val) }}
{%-   endfor %}
{%- endfor %}

{%- if "*" in openssh.client.config.get("Host", {}) %}
Host *
{%-   for opt, val in openssh.client.config["Host"]["*"] | dictsort %}
{{ "  " }}{{ render_opt(opt, val) }}
{%-   endfor %}
{%- endif %}

{% for name, match in openssh.client.config.get("Match", {}) %}
Match
{%-   for match_type, vals in match["type"] | dictsort -%}
      {{ " " -}} {{ render_opt(match_type, vals, collapse=true) }}
{%-   endfor %}  # {{ name }}
{%-   for opt, val in match["options"] | dictsort %}
{{ "  " }}{{ render_opt(opt, val) }}
{%-   endfor %}
{% endfor %}
